html, body {
  margin: 10px;
  padding: 10px;
}
canvas {
/*  display: block;
*/  
/*position: relative;
height: 400px !important; 
width: 800px !important;*/
}
 
 .stPadding{
  min-height: 40px;
}

#style{

	position: relative;
	
}

 #widthStyle{
 width: 20%;	
}

canvas{
	position: absolute;
	visibility: hidden;
}

canvas.active{

	visibility: visible;
}